.footer {
    background-color: #212529; 
    color: #fff; 
    padding: 80px 0; 
    text-align: center;
  }
  
 
  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
  }
  
  .container {
    flex: 1;
  }
  
  