.trail-search-col {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding-right: 0;
    max-height: 80vh;
}

.trail-search-card-container {
    overflow-y: auto;
    max-height: 80vh;
    flex-grow: 1;
}

.trail-search-card.selected {
    background-color: #d6eaff;
  }
